* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightyellow;
}

/*MAIN  MENU*/
/*MAIN  MENU*/
/*MAIN  MENU*/

.main-menu {
	margin: 1% auto;
	padding: 0 15%;
	height: 50px;
	background: #f82;
	list-style: none;
	font-family: Arial, sans-serif;
	font-size: 26px;
}

.main-menu a {
	text-decoration: none;
	color: black;
	line-height: 50px;
}

.main-menu li {
	position: relative;
	padding: 0 20px 0 25px;
	width: 140px;
	display: inline-block;
}

.main-menu li:hover {
	background: yellow;
}

li.dropdown > a {
	text-decoration: underline;
}

.submenu {
	position: absolute;
	left: 0;
	top: 44px;
	display: none;
	background: #f82;
	list-style: none;
	z-index: 5;
}

.deeper-submenu {
	top: 0;
	left: 185px;
}

/*JCAROUSEL*/
/*JCAROUSEL*/
/*JCAROUSEL*/

.jcarousel {
	margin: 0 auto;
	width: 640px;
	height: 360px;
    position: relative;
    overflow: hidden;
    border: 8px solid lightgreen;
}

.jcarousel-list {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-item {
    float: left;
}

.jcarousel-control {
	display: block;
	position: absolute;
	top: 165px;
	width: 30px;
	height: 30px;
	opacity: 0.75;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	line-height: 26px;
	color: black;
	background: lightgreen;
	box-shadow: 0 0 2px #F0EFE7;
}

.jcarousel-prev {
	left: 2px;
}

.jcarousel-next {
	right: 2px;
}

.jcarousel-pagination {
	position: absolute;
	bottom: 8px;
	opacity: 0.75;
}

.jcarousel-pagination a {
	display: inline-block;
	margin: 3px;
	width: 17px;
	height: 17px;
	border-radius: 8px;
	box-shadow: 0 0 2px #F0EFE7;
	background: lightgreen;
	font-size: 0px;
	text-decoration: none;
	color: lightgreen;
}

/*FORM*/
/*FORM*/
/*FORM*/

form {
	margin: 0 auto;
	padding: 26px;
	width: 640px;
}

.check {
	display: inline-block;
	margin: 5% 1% 5% 1%;
	padding: 8px;
	width: 44%;
	border-radius: 15px;
}

dt, dd {
	margin: 3%;
	display: inline-block;
}

dt {
	width: 50%;
}

label {
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-style: italic;
}

input[type=checkbox] {
	cursor: pointer;
	width: 17px;
	height: 17px;
}

.jq-check {
	cursor: pointer;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../pic/checkbox.png);
}

#scheck1, #scheck2 {
	display: none;
}

.scheck {
	display: block;
	margin: 5%;
	width: 65%;
}

.scheck:after {
	content: "";
	float: right;
	width: 17px;
	height: 17px;
	background: url(../pic/checkbox.png);
}

input[type=checkbox]:checked + .scheck:after{
	background-position: 0 -17px;
}

.checkit {
	width: 188px;
	height: 26px;
	border: none;
	background: lightgreen;
	font-weight: bold;
}