* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightyellow;
}

.jcarousel {
	margin: 0 auto;
	width: 640px;
	height: 360px;
    position: relative;
    overflow: hidden;
    border: 8px solid lightgreen;
}

.jcarousel-list {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-item {
    float: left;
}

.jcarousel-control {
	display: block;
	position: absolute;
	top: 165px;
	width: 30px;
	height: 30px;
	opacity: 0.75;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	line-height: 26px;
	color: black;
	background: lightgreen;
	box-shadow: 0 0 2px #F0EFE7;
}

.jcarousel-prev {
	left: 2px;
}

.jcarousel-next {
	right: 2px;
}

.jcarousel-pagination {
	position: absolute;
	bottom: 8px;
	opacity: 0.75;
}

.jcarousel-pagination a {
	display: inline-block;
	margin: 3px;
	width: 17px;
	height: 17px;
	border-radius: 8px;
	box-shadow: 0 0 2px #F0EFE7;
	background: lightgreen;
	font-size: 0px;
	text-decoration: none;
	color: lightgreen;
}

form {
	margin: 0 auto;
	padding: 26px;
	width: 640px;
}

.jquery-check {
	margin: 5% 3% 5% 0;
	padding: 8px;
	width: 48%;
	border-radius: 15px;
}

dt, dd {
	margin: 3%;
	display: inline-block;
}

dt {
	width: 50%;
}

label {
	font-family: Arial, sans-serif;
	font-style: italic;
}

input[type=checkbox] {
	width: 17px;
	height: 17px;
}

span.jq-check {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../pic/checkbox.png);
}